.about {
    color: green;
    font-size: 30px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: title case;
    border: 2px dotted pink;
}

.definition {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-style: normal; 
    border: 2px dashed green;
}



p {
    color: brown;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    ol {
        list-style: bullet;
    }
    ul {
        list-style: lower-roman;
    }
    h2 {
        color: green;
        border: dashed;
    }

    h1.first-head {
        color: red;
        font-: upper-case;
    }
    h1.first-day {
        color: blue;
    }

    .first-day{
        color: pink;
    }

    .first-day.week {
        color: brown;
    }
