.about {
    color: green;
    font-size: 30px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: title case;
    border: 2px dotted pink;
}

.definition {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-style: normal; 
    border: 2px dashed green;
}



p {
    color: brown;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    ol {
        list-style: bullet;
    }
    ul {
        list-style: lower-roman;
    }
    h2 {
        color: green;
        border: dashed;
    }

    h1.first-head {
        color: red;
        font-: upper-case;
    }
    h1.first-day {
        color: blue;
    }

    .first-day{
        color: pink;
    }

    .first-day.week {
        color: brown;
    }
    .hover {
        background-color: blue;
        width: 100px;
        height: 50px;
        color: white;
    }
    .hover:hover {
        background-color: red;
        width: 150px;
        height: 100px;
    }
    .first-child {
        color: green;
    }
    .first-child:first-child {
        color: blue;
        ;  
    }
    * {
        font-weight: bold;
    }
    .ex-box {
        border: 3px solid blue;
        background-color: #A8BDCB;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        margin-right: 10px;
        border-radius: 5px;
        font-size: 30px;
    }
    .ex-box:last-of-type {
        clear: right;
    }
    .box-1 {
        border: 1px solid black;
        color: white;
        background-color: blue;
        height: 150px;
        width: 300px;
    }
